IndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Custom
