# Some style rules:
# variables: snake_case
# types: Capitalized_type

IndentWidth: 4
ColumnLimit: 100
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Custom
NamespaceIndentation: All
BinPackParameters: false
BreakBeforeTernaryOperators: true
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 2
AllowShortIfStatementsOnASingleLine: Never # for easier debugging
AllowShortLoopsOnASingleLine: false # for easier debugging
